body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
    margin-top: 10px;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

.post_date {
    font-size: 12px;
    color: black;
    font-style: italic;
}

.post_title {
    font-size: 20px;
}

.navbar {
    margin-bottom: 0;
    padding-bottom: 0;
}
hr {
    margin-top: 0;
    margin-bottom: 20px;
}

.toright {
    float: right;
    margin-top: 8px;
}

.social {
    margin-left: 5px;
}

img {
    width: 65%;
    display: block;
    margin: 0 auto;
}

.indented {
    padding-left: 30px;
    padding-top: 8px;
}

.resources-title {
    color: blue;
    font-weight: bold;
}

table, td, th{
    border: 1px solid black;
    padding: 3px 3px;
}

table {
    width: 600px;
}

.date_col {
    width: 80px;
}

.post_table table {
    margin-left: 30px;
}