body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

.post_date {
    font-size: 12px;
    color: black;
    font-style: italic;
}

.post_title {
    font-size: 20px;
}

.navbar {
    margin-bottom: 0;
    padding-bottom: 0;
}
hr {
    margin-top: 0;
    margin-bottom: 20px;
}

.toright {
    float: right;
    margin-top: 8px;
}

.social {
    margin-left: 5px;
}