<h1>Useful Links</h1>
<ul>
  <li><a href="https://blog.0x1115.org/" target="_blank">0x1115</a></li>
  <li><a href="http://blog.kaggle.com/" target="_blank">Kaggle - no free hunch</a></li>
  <li><a href="https://www.khanacademy.org/math/linear-algebra" target="_blank">Linear Algebra Course</a></li>
  <li><a href="https://www.quora.com/topic/Data-Science" target="_blank">Data Science @ Quora</a></li>
  <li><a href="http://cs109.github.io/2015/" target="_blank">CS109 Course @ Havard</a></li>
  <li><a href="http://www.wzchen.com/data-science-books" target="_blank">Free Data Science Books</a></li>
</ul>
