<h1>Useful Links</h1>
<ul>
    <li><a href="https://github.com/donnemartin/data-science-ipython-notebooks" target="_blank">Data Science Notebooks</a></li>    
    <li><a href="https://blog.0x1115.org/" target="_blank">0x1115</a></li>
    <li><a href="http://blog.kaggle.com/" target="_blank">Kaggle - no free hunch</a></li>
    <li><a href="https://www.khanacademy.org/math/linear-algebra" target="_blank">Linear Algebra Course</a></li>
    <li><a href="https://www.quora.com/topic/Data-Science" target="_blank">Data Science @ Quora</a></li>
    <li><a href="https://python.zeef.com/luis.solis" target="_blank">Python Tutorials Collection</a></li>
</ul>
